(ns user
  (:require
   [clojure.core :refer [Throwable->map]]
   [clojure.repl :refer [apropos dir doc find-doc pst source]]
   [integrant.core :as ig]
   [integrant.repl :refer [clear go halt prep init reset reset-all]]
   [{{top/ns}}.{{main/ns}}.system :as system]))

(integrant.repl/set-prep! #(ig/prep (system/system-map)))
