(ns {{top/ns}}.{{main/ns}}.core
  (:gen-class)
  (:require
   [{{top/ns}}.{{main/ns}}.system :as system]))

(defn foo
  "I don't do a whole lot."
  [x]
  (prn x "Hello, World!"))

(defn -main [& args]
  (system/start))
