(ns {{top/ns}}.{{main/ns}}.service
  (:require
   [io.pedestal.http :as http]
   [io.pedestal.http.route :refer [routes-from]]
   [io.pedestal.environment :refer [dev-mode?]]
   [{{top/ns}}.{{main/ns}}.routes :as routes]))

(defn service-map [opts]
  (let [{:keys [dev-mode]
         :or {dev-mode dev-mode?}} opts]
    (-> {::http/port 8080
         ::http/type :jetty
         ::http/routes (routes-from (routes/routes))
         ::http/resource-path "public"
         ::http/secure-headers {:content-security-policy-settings
                                {:script-src "'self' 'unsafe-inline' 'unsafe-eval' https: http:"
                                 :object-src "'none'"}}
         ::http/join? false}
        http/default-interceptors
        (cond-> dev-mode http/dev-interceptors))))
