(ns {{top/ns}}.{{main/ns}}.server
  (:require
   [io.pedestal.http :as http]
   [{{top/ns}}.{{main/ns}}.service :as service]))

(defn start [opts]
  (-> (service/service-map opts)
      (http/create-server)
      (http/start)))

(defn stop [server]
  (-> server
      (http/stop)))
