(ns {{top/ns}}.{{main/ns}}.core-test
  (:require
   [cljs.test :refer-macros [deftest testing is]]
   [{{top/ns}}.{{main/ns}}.core :as core]))

(deftest fake-test
  (testing "fake description"
    (is (= 1 2))))
